@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "IT Net Computer Training Center";
}
<div class="jumbotron">
    <h4>Welcome</h4>
    <p class="lead">
    <p>You are never too old to set another goal or to dream a new dream. <br />
        Many people say it’s easier to learn a language when you are young 
    but there are advantages to learning a language when you are older.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h4>Motivational Quote of the Day</h4>
        <p>
            A“You’ve gotta dance like there’s nobody watching, love like you’ll never be hurt, sing like there’s nobody listening, and live like it’s heaven on earth.” ― William W. Purkey
        </p>
        <p><a class="btn btn-default" href="https://www.oberlo.com/blog/motivational-quotes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Knowledge Quote</h4>
        <p>The aim of education is the knowledge, not of facts, but of values.
        -William Inge
        </p>
        <p><a class="btn btn-default" href="https://www.brainyquote.com/topics/knowledge-quotes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Entrepreneur Quotes</h4>
        <p>"My biggest motivation? Just to keep challenging myself. I see life almost like one long University education that I never had -- everyday I’m learning something new."
        - Richard Branson</p>
        <p><a class="btn btn-default" href="https://www.forbes.com/profile/richard-branson/?sh=24a21b626ff5">Learn more &raquo;</a></p>
    </div>
</div>